
<f:layout name="Default"/>

<f:section name="Title">This Demo Package belogs to the package Kyoki.OAuth2</f:section>

<f:section name="Content">
    <h1>This Demo Package belogs to the package Kyoki.OAuth2</h1>

    <p>Account Username: {username}</p>
    <p>Account Password: {password}</p>
    <p>API client_id: {clientId}</p>
    <p>API client_secret: {clientSecret}</p>

    <p>Authorization endpoint: /authorize</p>

    <p>Token endpoint: /token </p>

    <p>Resource protected by oauth: /resource</p>

    <p>Got to <a href="/client">OAuth client example</a></p>


    
</f:section>